* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}

p {
  width: 100%;
  padding: 1rem 2rem;
  padding-bottom: 0.1rem;
  color: #000000;
  font-family: Montserrat;
  font-size: 1.25rem;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.row-no-wrap {
  flex-flow: row nowrap;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.container#content {
  height: auto;
}

.wide-container {
  min-width: 100%;
  width: 100vw;
  min-height: 100%;
  height: 100vh;
}

.media-container {
  width: 100%;
  height: 0;
}

.fullscreen {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.media-container video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.pink-bg {
  background-color: #FFD1D1;
}


.cream-bg {
  background-color: #E3BA7DFF;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 5rem;
}



.logo {
  width: 150px;
  height: auto;
  margin-left: 20%;
  padding-bottom: 20%;
  padding-top: 20%;
  justify-self: center;
}


.right-text {
  margin-left: auto;
  text-align: right;
}


#page-wrapper {
  height: auto;
  overflow: hidden;
}

#hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.ontopof {
  font-family: Montserrat;
  color: #fff;
  padding-top: 40%;
  position: absolute;
  z-index: 9;
  line-height: 5rem;
  display: grid;

}

.btn-outline-light {
  margin-top: 20%;
}


strong {
  color: #DC143C;
}

.first-section {
  padding: 4% 10% 3%;
  text-align: center;
  background-color: #7AB8FFFF;
}

pre {
  font-family: Montserrat;
  color: #fff;
  font-size: 1.5rem;
  line-height: 60%;
  padding-top: 1rem;
  text-align: center;
  height: 100%;
}

h2 {
    color: #fff;
}

#footerr {
  background-color: #CEBFAA;
}

.bighead {
  font-size: 7vw;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(0,0,0);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#myBtn {
  border-radius: 5px;
}

.defii {
  padding-bottom: 20px;
  font-size: 2vw;
}


button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

.subject {
  	float: left;
  	width: 45%;
}

.attachment {
  	float: right;
  	width: 45%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

#formhead {
  align-self: center;
  font-size: 2vw;
  padding-bottom: -10%;
}

.fa {
  padding: 50px;
  font-size: 70px;
  text-align: right;
  text-decoration: none;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  color: #F2F3EB;
}

#instagram {
  width: 100%;
  position: absolute;
}
